[submodule "external/googletest"]
	path = external/googletest
	url = git@github.com:google/googletest
    commit = ec44c6c1675c25b9827aacd08c02433cccde7780
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/hana"]
	path = external/hana
	url = https://github.com/boostorg/hana
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "external/variant"]
	path = external/variant
	url = https://github.com/eggs-cpp/variant
